@page
@model ServiceHost.Areas.Admin.Pages.Shop.Sliders.CreateModel
@{
}

<form method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>مسیر عکس</label>
                <input type="text" placeholder="مسیر عکس" class="form-control" asp-for="_Command.PicturePath" />
                <span asp-validation-for="_Command.PicturePath" class="text-danger text-sm"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>alt عکس</label>
                <input type="text" placeholder="alt عکس" class="form-control" asp-for="_Command.PictureAlt" />
                <span asp-validation-for="_Command.PictureAlt" class="text-danger text-sm"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>تایتل عکس</label>
                <input type="text" placeholder="تایتل عکس" class="form-control" asp-for="_Command.PictureTitle" />
                <span asp-validation-for="_Command.PictureTitle" class="text-danger text-sm"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>سر تیتر</label>
                <input type="text" placeholder="سر تیتر" class="form-control" asp-for="_Command.Heading" />
                <span asp-validation-for="_Command.Heading" class="text-danger text-sm"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>تایتل</label>
                <input type="text" placeholder="تایتل" class="form-control" asp-for="_Command.Title" />
                <span asp-validation-for="_Command.Title" class="text-danger text-sm"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>متن بدنه</label>
                <input type="text" placeholder="متن بدنه" class="form-control" asp-for="_Command.BodyText" />
                <span asp-validation-for="_Command.BodyText" class="text-danger text-sm"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>متن دکمه</label>
                <input type="text" placeholder="متن دکمه" class="form-control" asp-for="_Command.ButtonText" />
                <span asp-validation-for="_Command.ButtonText" class="text-danger text-sm"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>لینک اسلایدر</label>
                <input type="text" placeholder="لینک اسلایدر" class="form-control" asp-for="_Command.RedirectUrl" />
                <span asp-validation-for="_Command.RedirectUrl" class="text-danger text-sm"></span>
            </div>
        </div>
        <button type="submit" class="btn bg-gradient-success">تایید</button>

    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}