@page
@model ServiceHost.Areas.Admin.Pages.Shop.Sliders.EditModel
@{
}



<form method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>مسیر عکس</label>
                <input type="text" placeholder="مسیر عکس" class="form-control" asp-for="editSlider.PicturePath" />
                <span asp-validation-for="editSlider.PicturePath" class="text-danger text-sm"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>alt عکس</label>
                <input type="text" placeholder="alt عکس" class="form-control" asp-for="editSlider.PictureAlt" />
                <span asp-validation-for="editSlider.PictureAlt" class="text-danger text-sm"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>تایتل عکس</label>
                <input type="text" placeholder="تایتل عکس" class="form-control" asp-for="editSlider.PictureTitle" />
                <span asp-validation-for="editSlider.PictureTitle" class="text-danger text-sm"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>سر تیتر</label>
                <input type="text" placeholder="سر تیتر" class="form-control" asp-for="editSlider.Heading" />
                <span asp-validation-for="editSlider.Heading" class="text-danger text-sm"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>تایتل</label>
                <input type="text" placeholder="تایتل" class="form-control" asp-for="editSlider.Title" />
                <span asp-validation-for="editSlider.Title" class="text-danger text-sm"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>متن بدنه</label>
                <input type="text" placeholder="متن بدنه" class="form-control" asp-for="editSlider.BodyText" />
                <span asp-validation-for="editSlider.BodyText" class="text-danger text-sm"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>متن دکمه</label>
                <input type="text" placeholder="متن دکمه" class="form-control" asp-for="editSlider.ButtonText" />
                <span asp-validation-for="editSlider.ButtonText" class="text-danger text-sm"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>لینک اسلایدر</label>
                <input type="text" placeholder="لینک اسلایدر" class="form-control" asp-for="editSlider.RedirectUrl" />
                <span asp-validation-for="editSlider.RedirectUrl" class="text-danger text-sm"></span>
            </div>
        </div>

        <input type="hidden" asp-for="editSlider.Id" />
        <button type="submit" class="btn bg-gradient-success">تایید</button>

    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}