@page
@model ServiceHost.Areas.Admin.Pages.Shop.Inventory.AddOperationModel
@{
}


<form method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>تعداد</label>
                <input type="text" placeholder="تعداد" class="form-control" asp-for="Command.Count" />
                <span asp-validation-for="Command.Count" class="text-danger text-sm"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>توضیحات</label>
                <textarea asp-for="Command.Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Command.Description" class="text-danger text-sm"></span>
            </div>
        </div>
        <input type="hidden" asp-for="Command.InventoryId" />
        <button type="submit" class="btn bg-gradient-success">تایید</button>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}