@page
@model ServiceHost.Areas.Admin.Pages.Shop.ProductCategories.EditModel
@{
}


<form method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" placeholder="نام دسته بندی" class="form-control" asp-for="editProductCategory.Name" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" placeholder="slug" class="form-control" asp-for="editProductCategory.Slug" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" placeholder="Keywords" class="form-control" asp-for="editProductCategory.Keywords" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" placeholder="ادرس عکس" class="form-control" asp-for="editProductCategory.Picture" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" placeholder="alt عکس" class="form-control" asp-for="editProductCategory.PictureAlt" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" placeholder="تایتل عکس" class="form-control" asp-for="editProductCategory.PictureTitle" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" placeholder="Meta Description" class="form-control" asp-for="editProductCategory.MetaDescription" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>توضیحات دسته بندی</label>
                <textarea asp-for="editProductCategory.Description" class="form-control" rows="3"></textarea>
            </div>
        </div>
        <input type="hidden" asp-for="editProductCategory.Id" />

        <button type="submit" class="btn bg-gradient-success">تایید</button>

    </div>
</form>
